 <link rel="stylesheet" href="https://use.typekit.net/ggm0rhl.css">
	
	html {
		margin: 0px;
		padding: 0px;
	}
    
    .jubinorm {
        font-family: Jubilat;
        font-size: 15px;
        font-weight: normal;
        color: black;
        margin-top: 12px;
    }

    .jubibold {
        font-family: Jubilat;
        font-size: 15px;
        font-weight: bold;
        color: black;
        margin-top: 12px;
    }
    
    .franknorm {
        font-family: franklin-gothic-urw, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        color: black;
        margin-top: 12px;
    }
    
    .frankitl {
        font-family: franklin-gothic-urw, sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 17px;
        color: black;
        margin-top: 12px;
    }
    
    .frankbold {
        font-family: franklin-gothic-urw, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        color: black;
        margin-top: 12px;
    }
	
	
    body {
        background-color: #ffdcb2;
        margin: 0px;
		padding: 0px;
    }
    
    #container {
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    
     #containerback {
        background-image: url(capybarewerytexture2.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: repeat-y;
        width: 100%;
        height: 100%;
    }

    #innercontainer {
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
    }

    #sectioncontainer {
       flex-grow: 8;
       flex-basis: 100px;
    }

    #sidebar {
       flex-grow: 1;
       height: auto;
       flex-basis: 100px;
       margin-left: 50px;
       margin-top: 40px;
       background-color: #efe4e1;
       border-radius: 15px;
       box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
       padding: 0px;
    }

    .sidebartextdiv {
       width: 14%; 
       position: fixed;
       top: 200px;
       left: 70px; 
    }

    .section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: 25px;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;

    }

    .sectionbuffer {
    width: auto;
    height: 50px;
    padding: 40px 50px 0px 50px;
    }

    .sectionbuffer2 {
    width: auto;
    height: 25px;
    }


    .border {
     border: 1px red solid; 
        
}

    .block1 {
        height: auto;
        width: 100%;
        border-radius: 15px;
        padding: 20px 25px 20px 25px;
        box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
    }

    .block {
        height: auto;
        width: auto;
        border-radius: 15px;
        padding: 20px 25px 20px 25px;
        box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
    }



    .blockL {
    flex-grow: 9;
    flex-basis: 369px;
    height: auto;
    border-radius: 15px;
    padding: 20px 25px 20px 25px;
    margin-right: 12.5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
    }

    .blockR {
    flex-grow: 9;
    flex-basis: 369px;
    height: auto;
    border-radius: 15px;
    padding: 20px 25px 20px 25px;
    margin-left: 12.5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
    }

    .BblockL {
    flex-grow: 9;
    flex-basis: 300px;
    height: auto;
    border-radius: 15px;
    padding: 20px 25px 20px 25px;
    margin-right: 12.5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
    }

    .BblockR {
    flex-grow: 9;
    flex-basis: 300px;
    height: auto;
    border-radius: 15px;
    padding: 20px 25px 20px 25px;
    margin-left: 12.5px;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 0.4);
    }



    .bigtext {
        font-size: 40px; 
        line-height: 40px;
    }
    
    .headingdiv {
    height: auto;
    width: 100%;
    font-family: Jubilat, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    color: white;
    line-height: 30px;
    margin: 0px;
    }
    
    .headingdivblack {
        font-family: Jubilat, sans-serif;
        font-weight: 700;
        text-align: left;
        font-size: 30px;
        color: black;
        line-height:33px;  
        margin: 0px;
        padding: 0px;
    }

       .headingdivblackbig {
        font-family: Jubilat, sans-serif;
        font-weight: 700;
        text-align: left;
        font-size: 40px;
        color: black;
        line-height: 40px;  
        margin: 0px;
        padding: 0px;
    }
    
    .headingdivblue {
    font-family: Jubilat, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 27px;
    color: #658de2;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    }

    .columnright {
        
        text-align: right;
        float: left;
        width: auto;
        height: auto;
        padding-right: 10px;
        margin-right: 10px;
        border-right: black 3px solid;
    }
    
    .columnleft {
        text-align: center;
        width: 50px;
        height: auto;
        height: auto;
        float: left;
    }

    .column {
        text-align: center;
        width: 50px;
        height: auto;
        float: left;
        border-right: black 3px solid;
        padding-right: 10px;
        margin-right: 10px;
    }

    .columnleftwhite {
        text-align: center;
        width: 50px;
        color:white;
        height: auto;
        height: auto;
        float: left;
    }

    .columnwhite {
        text-align: center;
        width: 50px;
        height: auto;
        float: left;
        color:white;
        border-right: white 3px solid;
        padding-right: 10px;
        margin-right: 10px;
    }
  .beerstats {
        width: 100%;
        height: 65px;
    }

       
    .timeright {
        
        text-align: right;
        float: left;
        width: auto;
        height: auto;
        padding-right: 12px;
        margin-right: 12px;
        border-right: black 3px solid;
    }

   .timeright2 {
        
        text-align: right;
        float: left;
        width: auto;
        height: auto;
        padding-right: 12px;
        margin-right: 12px;
        border-right: white 3px solid;
    }

    .phoneleft {
        text-align: left;
        width: auto;
        height: auto;
        padding-right: 12px;
        margin-right: 12px;
    }
    
    .timeleft {
        text-align: left;
        width: auto;
        height: auto;
    }
    
    .iconleft {
        float: left;
        width: auto;
        height: 20px;
        padding-right: 10px;
    }

    .iconleftbig {
        float: left;
        width: auto;
        height: 35px;
        padding-right: 10px;
    }

    .imgbox {
    width: auto;
    height: 270px;
    float: left;
    margin-right: 15px;
    top: -20px;
    left: -5px;
    }

    .imgbox2 {
    width: auto;
    height: 270px;
    float: right;
    margin-left: 15px;
    top: -20px;
    left: -5px;
    }
    
        
    .horizontalline {
        height: 3px;
        width: 100%;
        background-color: black;
    }
    
    
    .merchimagediv {
    width: 100%;
    height: auto;
    margin-top: 15px;        
    }

    .merchimage {
    width: 100%;
    height: auto;        
    }
        
    
	  .callout {
    height: 0px;
    width: auto;
    font-family: Jubilat, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    color: black;
    line-height: 43px;
    margin: 25px 25px 0px 25px;
    border-top-left-radius: 0px;
    }
    
    .headingitl {
        font-family: Jubilat, sans-serif, italic;
        font-weight: 700;
        text-align: left;
        margin: clear;
        padding: clear;
    }
    
    .headingdiv {
    height: auto;
    width: 100%;
    font-family: Jubilat, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 27px;
    color: white;
    line-height: 30px;
    margin: 0px;

    }
    
    .headingdivblack {
        font-family: Jubilat, sans-serif;
        font-weight: 700;
        text-align: left;
        font-size: 27px;
        color: black;
        line-height:30px;  
        margin: 0px;
        padding: 0px;
    }
    
    .headingdiv2 {
    height: auto;
    width: 100%;
    font-family: Jubilat, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    color: white;
    line-height: 28px;
    margin: 0px;

    }
    
    .headingdivblack2 {
        font-family: Jubilat, sans-serif;
        font-weight: 700;
        text-align: left;
        font-size: 40px;
        color: black;
        line-height:40px;  
        margin: 0px;
        padding: 0px;
    }
    
    
    .headingdivblue {
    font-family: Jubilat, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 27px;
    color: #658de2;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    }
    
    .headingitl {
        font-family: Jubilat, sans-serif, italic;
        font-weight: 700;
        text-align: left;
        margin: clear;
        padding: clear;
    }
    
    .boxforbuttons {
        width: auto;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
    
    .boxbtnpink {
        width: auto;
        line-height: 15px;
        font-size: 13px;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 900;
        color: #a5564f;
        border: solid white 4px;
        border-radius: 10px;
        padding: 7px;
        margin-right: 10px;
        display: block;
        flex-grow: 30%;
    }

   .boxbtnpink:hover {
    background-color: rgba(165, 86, 79, 0.3);
    }
    
     .boxbtnblue {
        width: auto;
        line-height: 15px;
        font-size: 13px;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 900;
        color: #658de2;
        border: solid white 4px;
        border-radius: 10px;
        padding: 7px;
        margin-right: 10px;
        display: block;
        flex-grow: 30%;
    }
    
    .boxbtnblue:hover {
        background-color: rgba(101, 141, 226, 0.4);
    }
    
     .boxbtnbrick {
        width: auto;
        line-height: 15px;
        font-size: 13px;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 900;
        color: #2b0c07;
        border: solid white 4px;
        border-radius: 10px;
        padding: 7px;
        margin-right: 10px;
        display: block;
        flex-grow: 30%;
    }
    
    .boxbtnbrick:hover {
        background-color: rgba(43, 12, 7, 0.4);
    }

    .boxbtnyellow {
        width: auto;
        line-height: 15px;
        font-size: 13px;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 900;
        color: #1d2848;
        border: solid white 4px;
        border-radius: 10px;
        padding: 7px;
        margin-right: 10px;
        display: block;
        flex-grow: 30%;
    }
    
    .boxbtnyellow:hover {
        background-color: rgba(221, 168, 0, 0.7);
    }

    .boxbtnwhite {
        width: auto;
        line-height: 15px;
        font-size: 13px;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 900;
        color: white;
        background-color: #1d2848;
        border: solid white 4px;
        border-radius: 10px;
        padding: 7px;
        margin-right: 10px;
        display: block;
        flex-grow: 30%;
    }
    
    .boxbtnwhite:hover {
        background-color: rgba(40, 90, 180, 0.8);
    }

    .boxbtngreen {
        width: auto;
        line-height: 15px;
        font-size: 13px;
        font-family: franklin-gothic-urw, sans-serif;
        font-weight: 900;
        color: #273505;
        border: solid white 4px;
        border-radius: 10px;
        padding: 7px;
        margin-right: 10px;
        display: block;
        flex-grow: 30%;
    }
    
    .boxbtngreen:hover {
        background-color: rgba(50, 127, 46, 0.4);
    }
    

    .textdiv {
    height: auto;
    width: auto;
    font-family: Jubilat, sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 15px;
    font-size: 13px;
    }
    
     #header {
        width: auto;
        height: 80px;
        margin-top: 60px;
        text-align: center;
        background-image: url(darkwood.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .headerbuttons {
    width: 105px;
    height: 60px;
    float: left;
    line-height: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: clear;
    }
    
    .headerbuttons:hover {
    width: 97px;
    height: 58px;
    float: left;
    line-height: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: clear;
    border-top: rgb(255,217,175,0.5) solid 4px;
    border-left: rgb(255,217,175,0.5) solid 4px;
    border-right: rgb(255,217,175,0.5) solid 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    }

    .headerbuttonsPressed {
    width: 97px;
    height: 58px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0px 0px 0px; 
    border-top: rgb(255,217,175,1) solid 4px;
    border-left: rgb(255,217,175,1) solid 4px;
    border-right: rgb(255,217,175,1) solid 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
    
     .headerbuttons2 {
    width: 105px;
    height: 60px;
    float: right;
    line-height: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: clear;
    }

   .headerbuttons2:hover {
    width: 97px;
    height: 58px;
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-top: rgb(255,217,175,0.5) solid 4px;
    border-left: rgb(255,217,175,0.5) solid 4px;
    border-right: rgb(255,217,175,0.5) solid 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }

    .headerbuttons2Pressed {
    width: 97px;
    height: 58px;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 5px 0px 5px;
    border-top: rgb(255,217,175,1) solid 4px;
    border-left: rgb(255,217,175,1) solid 4px;
    border-right: rgb(255,217,175,1) solid 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
    
    .headertype {
    font-family: baskerville, serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    color: #ffdcb2;
    font-size: 25px;
    margin-right: 0px;
    }

    .menu{
        width: 590px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 18px;
    }

    #logo {
    width: 174px;
    height: 192px;
    position: absolute;
    top: 14px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }
    
    #logo:hover {
    background-image: url(logohover.png);
    }
    
    .footer {
    background-color: rgb(0,0,0,0);
    width: 100%;
    height: 90px;
    color: #ffdcb2;
    font-family: Jubilat;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding: auto;
    }
    
    .footerwood {
        height: 90px;
        margin: 30px 50px 0px 50px;
        text-align: center;
        line-height: 100px;
        border-radius: 15px 15px 0px 0px;
        background-image: url(darkwood.jpg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    
       @media screen and (max-width:754px) {

           
     .top {
              flex-direction: column;
               height: auto;
    }
           
    .topright {
        height: 120px;
        padding: 20px;
        flex-basis: 220px;
    }
    .headingdiv2 {
        font-size: 35px;
    }
    .headingdivblack2 {
        font-size: 35px;
    }
           
    .boxforbuttons {
        margin-right: -0px;
    }

	}
    
	@media screen and (max-width:600px) {
		
        
    
	.menu {
    width: 420px;
		}
		
    
        
	.headerbuttons {
    width: 80px;
		}
    .headerbuttons:hover {
    width: 73px;
		}
    .headerbuttonsPressed {
        width: 73px;
    }    
        
	.headerbuttons2 {
    width: 80px;
		}   
        
      .headerbuttons2:hover {
    width: 73px;
        }
        
    .headerbuttons2Pressed {
        width: 73px;
    }     
		
    .headingdiv2 {
    font-size: 30px;
    line-height: 30px;
    
    }
    
     .boxforbuttons {
       width: 220px;     
        }
    .headingdivblack2 {
    font-size: 30px;
    line-height: 30px;
    }
    	
	.headertype {
		font-size: 18px;	
		}
#logo {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }
#header {
    width: auto;
    height: 68px; 
    margin-top: 45px;
    text-align: center;
    background-image: url(darkwood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
		
.imgbox {
    width: 100px;
    height: 180px;
    float: right;
    position: relative;
    margin-left: 0px;
    background-image: url(beerbottlemockupV1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom-left-radius: 0px;
    top: 0px;
    left: -1px;
    }
        
    .footerwood {
            height: 60px;
            line-height: 60px;
            font-size: 10px;
        }
    .footer {
            height: 60px;
        }
       
	}
    
    @media screen and (max-width:729px) {
        .left {
            margin-bottom: 20px;
        }
    }
	

	@media screen and (max-width:450px) {

      .menu {
    width: 285px;
    height: 55px;
		}
        
		
	.headerbuttons {
    width:57px;
	height: 30px;
		}
        
	.headerbuttons:hover {
    width:45px;
	height: 35px;
		}
    
    .headerbuttonsPressed {
        width: 45px;
        height: 30px;
        padding: 2px;
    }       
		
	.headerbuttons2 {
     width: 57px;
    height: 30px;
		}
        
    	.headerbuttons2:hover {
    width:45px;
	height: 35px;
		}
		
    .headerbuttons2Pressed {
        width: 45px;
		height: 30px;
    }   
        
    
	.headertype {
		font-size: 13px;	
		}
    #logo {
       width: 80px;
	   height: 120px;
    }
   #header {
    width: auto;
    height: 55px;
    margin-top: 35px;
    text-align: center;
    background-image: url(darkwood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
        
		
	}

   