 <link rel="stylesheet" href="https://use.typekit.net/ggm0rhl.css">
 

.blacktxt {
    color: black;
}

.whitetxt {
    color: white;
}

.darkbluetxt {
    color: #1d2848;
}

.darkgreentxt {
    color: #273505;
}

.darkpinktxt {
    color: #a2564f;
}

.darkbricktxt {
    color: #2b0c07;
}


.darkbluebg {
    background-color: #1d2848;
}

.greenbg {
    background-color: #b1ce5d;
}

.brickbg {
    background-color: #983c2c;
}

.yellowbg {
    background-color: #f9ce43;
}

.pinkbg {
    background-color: #f09588;
}


.whitebg {
    background-color:  #efe4e1;
}

.offwhitebg {
    background-color: #efe4e1;
}

.lightbluetxt {
    color: #658adf;
}

